<!DOCTYPE html>
    <html lang="en_NG">
    <head>
        <!-- Settings -->
        <meta charset="UTF-8">
        <base href="http://{globals.url}">

        <!-- Metas -->
        <title>{head.title} | {globals.app}</title>
        <meta name="description" content="{head.description}">

        <!-- Static asset -->
        <link rel="stylesheet" type='text/css' href="public/app.css">
    </head>

    <body class='{body.class}'>
        <div id="app" class="wrapper">
            <div class="header">
                <!-- Logo -->
                <a href="/" class="logo">
                    <!-- <img src="public/logo.png" alt="Company"> -->
                </a>
                <!-- Nav menu -->
                <ul class='menu'>
                    <li><a href="/">Home</a></li>
                    <li class='loggedOut'><a href="signup">Sign up</a></li>
                    <li class='loggedOut'><a href="login">Login</a></li>
                    <li class='loggedIn'><a href="menu">Menu</a></li>
                    <li class='loggedIn'><a href="cart ">Cart</a></li>
                    <li class='loggedIn'><a href="#" id="logoutButton">Logout</a></li>
                </ul>
            </div>

            <div class="content">