<form action="/api/order" id="payment" method="POST">
    <input type="hidden" name="order_id" value>
    <label for="number">Card number <input type="text" name="number" autofocus></label>
    <br>
    <br>
    <label for="exp_month">Expiry month <input type="text" name="exp_month"></label>
    <br>
    <br>
    <label for="exp_year">Expiry year <input type="text" name="exp_year"></label>
    <br>
    <br>
    <label for="cvc">CVC <input type="text" name="cvc"></label>
    <br>
    <br>
    <input type="submit" value="Make Payment">
    <i class='pr-nt'><!-- pr-nt: processing notification -->Processing...</i>
</form>